/* GLOBAL RULES */
body {
  margin: 0 auto;
  font-family: "Raleway";
}

main {
  width: 1440px;
  margin: auto;
}

img {
  object-fit: cover;
}

/* HEADER */
.header-container {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section img {
  width: 8rem;
}

.header-navigation {
  display: flex;
}

.header-navigation ul {
  display: flex;
  list-style-type: none;
  font-size: 1.1em;
  margin-left: 53rem;
}

.header-navigation a {
  padding: 0 2rem;
  text-decoration: none;
}

.accomodation-button,
.activity-button {
  color: #000;
}

.accomodation-button:hover,
.activity-button:hover {
  border-top: #0065fc 3px solid;
  color: #0065fc;
  padding-top: 1.7rem;
}

.subscribe-button {
  color: #0065fc;
  font-weight: 700;
  text-decoration: none;
  margin-right: 1rem;
}

/* MAIN */
.filters-description {
  margin: 1rem 0;
}

/* Search bar */
.searchbar {
  margin: 2rem 0;
  display: flex;
}

.localisation {
  background-color: #f2f2f2;
  padding: 0.7rem 0.9rem;
  border-radius: 5px 0 0 5px;
}

.searchbar input {
  padding: 0.5rem 1rem;
  border: #f2f2f2 1px solid;
}

::placeholder {
  color: #000;
}

.searchbar button {
  cursor: pointer;
  background-color: #0065fc;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.7rem 1rem;
}

/* Filters */
.filters {
  display: flex;
  align-items: center;
}

.filters h2 {
  margin-right: 1rem;
}

.filter {
  height: 2.3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  border: 2px solid #eaeaea;
  color: #000;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 5rem;
  text-decoration: none;
  margin: 0.5rem;
}

.filter:last-child {
  width: 12.5rem;
}

.icon-filter {
  background-color: #deebff;
  color: #0065fc;
  padding: 0.7rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.fa-child {
  padding: 0.15rem 0.25rem;
}

/* Filters hover */
.filter:hover {
  background-color: #deebff;
  color: #0065fc;
  transition: 1s;
}

.filter:hover .icon-filter {
  background-color: #0065fc;
  color: #fff;
  transition: 1s;
}

.info span {
  border: 1px solid #eaeaea;
  padding: 0.3rem 0.7rem;
  border-radius: 50%;
  margin-right: 5px;
}

/* Accomodation */
.accomodation-main {
  display: flex;
}

.accomodation-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-right: 3%;
  width: 67%;
}

.accomodation-container h2 {
  margin-left: 2.2rem;
}

.accomodations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accomodation-card {
  text-decoration: none;
}

.accomodation-card article {
  height: 14rem;
  width: 17rem;
  border-radius: 10px;
  background-color: #fff;
  margin: 1rem;
  color: #000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.accomodation-card article:hover {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.accomodation-card img {
  height: 9rem;
  width: 16.6rem;
  margin: 0.2rem;
  border-radius: 10px 10px 0 0;
}

.accomodation-card h3,
.accomodation-card p,
.accomodation-card div {
  margin: 2px 1px 0 4px;
}

.accomodation-card h3 {
  font-size: 1.1em;
}

.accomodation-card p {
  font-size: 1em;
}

.accomodation-card i {
  font-size: 0.8em;
}

.blue {
  color: #0065fc;
  object-fit: cover;
}

.grey {
  color: #c5c5c5;
}

/* Most popular */

.mostpopular-section {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 30%;
}

.mostpopular-section h2 {
  margin-left: 1rem;
}

.mostpopular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mostpopular-title span {
  margin-right: 1.2rem;
}

.mostpopular-card {
  border-radius: 10px;
  margin: 1.5rem;
  color: #000;
  text-decoration: none;
}

.mostpopular-card article {
  height: 8rem;
  width: 25rem;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.mostpopular-card article:hover {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.mostpopular-card article img {
  height: 7.6rem;
  width: 10rem;
  margin: 0.2rem;
  border-radius: 5px 0 0 5px;
}

.mostpopular-card h3,
.mostpopular-card p,
.mostpopular-card div {
  margin: 2px 1px 0 4px;
}

.mostpopular-card h3 {
  font-size: 1.1em;
}

.mostpopular-card p {
  font-size: 1em;
}

.mostpopular-card i {
  font-size: 0.8em;
}

.fa-star {
  margin: -1px;
}

/* Activity section */

.acitivity-section {
  border-radius: 5px;
}

.acitivity-section h2 {
  margin-left: 2.2rem;
}

.activity-container {
  display: flex;
  justify-content: center;
}

.activity-card {
  text-decoration: none;
}

.activity-card article {
  height: 15rem;
  width: 21rem;
  border-radius: 10px;
  background-color: #fff;
  margin: 1rem;
  color: #000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.activity-card article:hover {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.activity-card img {
  height: 12rem;
  width: 21rem;
  border-radius: 10px 10px 0 0;
}

.activity-card h3 {
  margin: 5px 0 0 8px;
}

.vieux-port article {
  height: 31.1rem;
}

.vieux-port article img {
  height: 28rem;
}

.pomegues article {
  height: 17rem;
}

.pomegues article img {
  height: 14rem;
}

.frioul article {
  height: 13rem;
}

.frioul article img {
  height: 10rem;
}

.parc-calanque article {
  height: 31.1rem;
}

.parc-calanque article img {
  height: 28rem;
}

/* FOOTER */
footer {
  width: 100vw;
  padding: 1rem 0;
  background-color: #f2f2f2;
}

footer section {
  width: 1440px;
  margin: auto;
  display: flex;
}

footer section div:not(:first-child) {
  margin-left: 5rem;
}

footer li {
  list-style-type: none;
  margin: 5px;
}

footer li:hover {
  text-decoration: underline;
}

footer a {
  color: #000;
  text-decoration: none;
}

/******************** Reponsive / Media Queries ********************/
/* BREAKPOINTS :
- Petits et moyens écrans mobiles (max-width: 767px)
- Grands écrans mobiles ou tablettes (min-width: 768px) and (max-width: 1023px)
- Grands écrans tablettes et écrans PC (min-width: 1024px) and (max-width: 1339px)
- Grands écrans PC (min-width: 1440px and max-width: 2559px) 
- Très grands écrans (Télé) (min-width 2560px) */
/******************** Reponsive / Media Queries ********************/

/* Très grands écrans (Télé) (min-width 2560px) */

@media screen and (min-width: 2560px) {
  body,
  ::placeholder {
    font-size: 1.3em;
  }

  .header-container,
  main,
  footer section {
    width: 1640px;
    margin: 0 auto;
  }

  .header-container img {
    width: 10rem;
  }

  .filter {
    width: 13rem;
    height: 3.8rem;
  }

  .searchbar input {
    width: 15rem;
    height: 3.5rem;
  }
  .search-button-small {
    display: none;
  }

  .accomodation-card article {
    height: 15.5rem;
  }

  .mostpopular-card article {
    height: 9rem;
  }

  .mostpopular-card article img {
    height: 8.6rem;
  }

  .activity-card article {
    height: 15.5rem;
    width: 24rem;
  }

  .activity-card article img {
    width: 24rem;
  }

  .vieux-port article,
  .parc-calanque article {
    height: 32.5rem;
  }

  .pomegues article {
    height: 17rem;
  }

  .frioul article {
    height: 14.2rem;
  }

  .responsive-group {
    display: none;
  }
}

/* Grands écrans (min-width: 1440px and max-width: 2559px) */
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .search-button-small {
    display: none;
  }

  .responsive-group {
    display: none;
  }
}

/* Grands écrans tablettes et écrans PC (min-width: 1024px) and (max-width: 1339px) */
@media screen and (min-width: 1024px) and (max-width: 1339px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }

  .header-container,
  main,
  footer section {
    width: 1024px;
    margin: 0 auto;
  }

  .header-navigation ul {
    margin-left: 28rem;
    padding: 0;
  }

  .search-button-small {
    display: none;
  }

  /* Accomodation */
  .accomodation-container {
    width: 64%;
  }

  .accomodation-card article {
    height: 13.7rem;
    width: 15.5rem;
  }

  .accomodation-card article img {
    width: 15.1rem;
  }

  .mostpopular-section {
    width: 33%;
  }

  .mostpopular-card article {
    height: 10.4rem;
    width: 19rem;
  }

  .mostpopular-card article img {
    height: 9.9rem;
  }

  /* Acitivity */
  .activity-card article {
    height: 12.95rem;
    width: 14rem;
  }

  .activity-card article img {
    height: 9.8rem;
    width: 14rem;
  }

  .vieux-port article,
  .parc-calanque article {
    height: 27rem;
  }

  .vieux-port article img,
  .parc-calanque article img {
    height: 23.5rem;
  }

  .pomegues article {
    height: 14rem;
  }

  .pomegues article img {
    height: 11.5rem;
  }

  .frioul article {
    height: 11.9rem;
  }

  .frioul article img {
    height: 9.2rem;
  }

  .responsive-group {
    display: none;
  }
}

/* Grands écrans mobiles ou tablettes (min-width: 768px) and (max-width: 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 768px;
    margin: 0 auto;
  }

  /* Header */
  .header-container,
  main,
  footer section {
    width: 768px;
    margin: 0 auto;
  }

  .header-container {
    flex-flow: wrap-reverse;
  }

  .header-navigation ul {
    margin-left: 10rem;
  }

  /* Searchbar button */
  .searchbar button {
    display: none;
  }

  .search-button-small {
    cursor: pointer;
    background-color: #0065fc;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.7rem 1rem;
  }

  /* Accomodation */
  .accomodation-main {
    flex-direction: column-reverse;
  }

  .accomodation-container {
    width: 100%;
  }

  /* Most popular */
  .mostpopular-section {
    width: 100%;
  }

  .mostpopular-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mostpopular-card article {
    height: 9.4rem;
    width: 20rem;
    margin: 0;
  }

  .mostpopular-card article img {
    height: 8.9rem;
  }

  /* Acitivity */
  .activity-container {
    flex-wrap: wrap;
    align-items: center;
  }

  .card-group {
    display: flex;
  }

  .activity-card article,
  .vieux-port article,
  .parc-calanque article {
    height: 14rem;
    width: 17.5rem;
  }

  .activity-card article img,
  .vieux-port article img,
  .parc-calanque article img {
    height: 12rem;
    width: 17.5rem;
  }

  .vieux-port,
  .parc-calanque {
    display: none;
  }

  .responsive-group {
    display: flex;
  }

  footer section div:not(:first-child) {
    margin-left: 1rem;
  }
}

/* Petits et moyens écrans mobiles (max-width 767px) */
@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }

  /* Header */
  .header-container,
  main,
  footer section {
    width: 100%;
  }

  .header-container {
    flex-wrap: wrap;
  }

  .header-navigation {
    flex-wrap: wrap-reverse;
  }

  .header-navigation ul {
    margin-left: 0.5rem;
    padding: 0;
  }

  .header-container nav {
    order: 3;
  }

  .accomodation-button,
  .activity-button {
    margin-left: 0.8rem;
  }

  .accomodation-button:hover,
  .activity-button:hover {
    border-top: none;
    color: #0065fc;
    padding-top: 0;
  }

  /* Searchbar button */
  .searchbar button {
    display: none;
  }

  .search-button-small {
    cursor: pointer;
    background-color: #0065fc;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.7rem 1rem;
  }

  /* Filters */
  .filters {
    flex-wrap: wrap;
  }

  .filters h2 {
    margin-right: 14rem;
  }

  /* Accomodation */
  .accomodation-main {
    flex-direction: column-reverse;
  }

  .accomodation-container {
    width: 100%;
  }

  /* Most popular */
  .mostpopular-section {
    width: 100%;
  }

  .mostpopular-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mostpopular-card article {
    height: 9.4rem;
    width: 18rem;
    margin: 0;
  }

  .mostpopular-card article img {
    height: 9rem;
    width: 8rem;
  }

  /* Acitivity */
  .activity-container {
    flex-direction: column;
    align-items: center;
  }

  .card-group {
    display: flex;
    flex-direction: column;
  }

  .activity-card article,
  .vieux-port article,
  .parc-calanque article {
    height: 14rem;
    width: 17.5rem;
  }

  .activity-card article img,
  .vieux-port article img,
  .parc-calanque article img {
    height: 12rem;
    width: 17.5rem;
  }

  .vieux-port,
  .parc-calanque {
    display: none;
  }

  footer section {
    flex-direction: column;
    justify-content: flex-start;
  }

  footer section div:not(:first-child) {
    margin-left: 0;
  }
}
